



/* LOADING */




/* SCROLL BAR */

/* Mengatur scrollbar untuk seluruh halaman */
* {
  scrollbar-width: thin; /* Untuk Firefox */
  scrollbar-color: #c7c7c7 #f1f1f1; /* Untuk Firefox */
  
}

/* Untuk Webkit (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 12px; /* Lebar scrollbar */
}

*::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna latar track scrollbar */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c7c7c7; /* Warna scrollbar */
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* Border luar */
  transition: background-color 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #c7c7c7; /* Warna scrollbar saat di-hover */
}



/* BUTTON */
.button2 {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.button2:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transform: translateY(-3px);
}


